
.terraform/
.terraform.lock.hcl
terraform.tfvars
*.tfstate
*.tfstate.*
*.tfvars
terraform.tfstate

*.swp
.idea/
.vscode/
.DS_Store
Thumbs.db
*.pem
*.key

*:Zone.Identifier
.gitignore
my-key.pub
my-private-key.pem
